stages:
  - docker-dev
  - deploy-dev
  - deploy-test
  - docker-prd
  - deploy-prd

variables:

  NEW_ALI_REGISTRY: registry.cn-hangzhou.aliyuncs.com
  NEW_IMAGE_Scheduler_Server: $NEW_ALI_REGISTRY/masa/masa-scheduler-services-server:$CI_COMMIT_TAG
  NEW_IMAGE_Scheduler_Worker: $NEW_ALI_REGISTRY/masa/masa-scheduler-services-worker:$CI_COMMIT_TAG
  NEW_IMAGE_Scheduler_Web_Admin_Server: $NEW_ALI_REGISTRY/masa/masa-scheduler-web-admin-server:$CI_COMMIT_TAG
  
  NEW_IMAGE_Scheduler_Server_Dev: $NEW_ALI_REGISTRY/masa/masa-scheduler-services-server:dev-$CI_PIPELINE_ID
  NEW_IMAGE_Scheduler_Worker_Dev: $NEW_ALI_REGISTRY/masa/masa-scheduler-services-worker:dev-$CI_PIPELINE_ID
  NEW_IMAGE_Scheduler_Web_Admin_Server_DEV: $NEW_ALI_REGISTRY/masa/masa-scheduler-web-admin-server:dev-$CI_COMMIT_TAG


  DOCKER_Scheduler_Server_PATH: ./src/Services/Masa.Scheduler.Services.Server/Dockerfile
  DOCKER_Scheduler_Worker_PATH: ./src/Services/Masa.Scheduler.Services.Worker/Dockerfile
  DOCKER_Scheduler_Web_Admin_Server_PATH: ./src/Web/Masa.Scheduler.Web.Admin.Server/Dockerfile

docker-build-dev:
  stage: docker-dev
  tags:
    - linux-shell
  before_script:
    - docker login -u $CI_ALI_REGISTRY_USER -p $CI_ALI_REGISTRY_PASSWD $CI_ALI_REGISTRY_DOMAIN 
  only:
    - main  
  script:
    - docker build -f $DOCKER_Scheduler_Server_PATH -t $NEW_IMAGE_Scheduler_Server_Dev .
    - docker push $NEW_IMAGE_Scheduler_Server_Dev 
    - docker build -f $DOCKER_Scheduler_Worker_PATH -t $NEW_IMAGE_Scheduler_Worker_Dev .
    - docker push $NEW_IMAGE_Scheduler_Worker_Dev
    - docker build -f $DOCKER_Scheduler_Web_Admin_Server_PATH -t $NEW_IMAGE_Scheduler_Web_Admin_Server_DEV .
    - docker push $NEW_IMAGE_Scheduler_Web_Admin_Server_DEV
  after_script:
    - docker rmi $NEW_IMAGE_Scheduler_Web_Admin_Server_DEV   
    - docker rmi $NEW_IMAGE_Scheduler_Worker_Dev
    - docker rmi $NEW_IMAGE_Scheduler_Server_Dev
  
deploy-dev:
  stage: deploy-dev
  tags:
    - linux-shell
  before_script:
    - docker login -u $CI_ALI_REGISTRY_USER -p $CI_ALI_REGISTRY_PASSWD $CI_ALI_REGISTRY_DOMAIN 
  only:
    - main  
  script:
    - echo $KUBE_CONFIG_DEV | base64 -d > ./config
    - kubectl --kubeconfig ./config set image deployment/masa-scheduler-services-server masa-scheduler-services-server=$NEW_IMAGE_Scheduler_Server_Dev -n masa-scheduler-dev
    - kubectl --kubeconfig ./config set image deployment/masa-scheduler-services-worker masa-scheduler-services-worker=$NEW_IMAGE_Scheduler_Worker_Dev -n masa-scheduler-dev
    - kubectl --kubeconfig ./config set image deployment/masa-scheduler-web-admin-server masa-scheduler-web-admin-server=$NEW_IMAGE_Scheduler_Web_Admin_Server_DEV -n masa-scheduler-dev
  retry: 2

deploy-test:
  stage: deploy-test
  tags:
    - linux-shell
  before_script:
    - docker login -u $CI_ALI_REGISTRY_USER -p $CI_ALI_REGISTRY_PASSWD $CI_ALI_REGISTRY_DOMAIN 
  only:
    - main  
  script:
    - echo $KUBE_CONFIG_DEV | base64 -d > ./config
    - kubectl --kubeconfig ./config set image deployment/masa-scheduler-services-server masa-scheduler-services-server=$NEW_IMAGE_Scheduler_Server_Dev -n masa-scheduler-test
    - kubectl --kubeconfig ./config set image deployment/masa-scheduler-services-worker masa-scheduler-services-worker=$NEW_IMAGE_Scheduler_Worker_Dev -n masa-scheduler-test
    - kubectl --kubeconfig ./config set image deployment/masa-scheduler-web-admin-server masa-scheduler-web-admin-server=$NEW_IMAGE_Scheduler_Web_Admin_Server_DEV -n masa-scheduler-test
  retry: 2
  when: manual

docker-build-prd:
  stage: docker-prd
  tags:
    - linux-shell
  before_script:
    - docker login -u $CI_ALI_REGISTRY_USER -p $CI_ALI_REGISTRY_PASSWD $CI_ALI_REGISTRY_DOMAIN 
  only:
    - tags  
  script:
    - docker build -f $DOCKER_Scheduler_Server_PATH -t $NEW_IMAGE_Scheduler_Server .
    - docker push $NEW_IMAGE_Scheduler_Server
    - docker build -f $DOCKER_Scheduler_Worker_PATH -t $NEW_IMAGE_Scheduler_Worker .
    - docker push $NEW_IMAGE_Scheduler_Worker
    - docker build -f $DOCKER_Scheduler_Web_Admin_Server_PATH -t $NEW_IMAGE_Scheduler_Web_Admin_Server .
    - docker push $NEW_IMAGE_Scheduler_Web_Admin_Server
  after_script:
    - docker rmi $NEW_IMAGE_Scheduler_Web_Admin_Server  
    - docker rmi $NEW_IMAGE_Scheduler_Worker
    - docker rmi $NEW_IMAGE_Scheduler_Server
  
deploy-prd:
  stage: deploy-prd
  tags:
    - linux-shell
  before_script:
    - docker login -u $CI_ALI_REGISTRY_USER -p $CI_ALI_REGISTRY_PASSWD $CI_ALI_REGISTRY_DOMAIN 
  only:
    - tags
  script:
    - echo $KUBE_CONFIG_BLAZOR_PRD | base64 -d > ./config
    - kubectl --kubeconfig ./config set image deployment/masa-scheduler-services-server masa-scheduler-services-server=$NEW_IMAGE_Scheduler_Server -n masa-scheduler
    - kubectl --kubeconfig ./config set image deployment/masa-scheduler-services-worker masa-scheduler-services-worker=$NEW_IMAGE_Scheduler_Worker -n masa-scheduler
    - kubectl --kubeconfig ./config set image deployment/masa-scheduler-web-admin-server masa-scheduler-web-admin-server=$NEW_IMAGE_Scheduler_Web_Admin_Server -n masa-scheduler
  retry: 2
  when: manual
