@inherits ProCompontentBase
@page "/team/{teamId}"

<MTabs @bind-Value="_curTab" SliderColor="transparent" class="pro-nav remover-ripple">

    @foreach(var tab in NavTab)
    {
        <MTab class="text-capitalize pa-0" Value="tab.Key">
            <ChildContent>
                <span class="mtab-tab-line @(_curTab.ToInt32() >= tab.Key.ToInt32() ?"mtab-tab-linear-primary":"mtab-tab-linear-neutral")"></span>
                <span class="rounded-circle mtab-tab-indicator @(_curTab.ToInt32() >= tab.Key.ToInt32() ?"mtab-tab-indicator-primary":"mtab-tab-indicator-neutral")"></span>
                <span class="mtab-tab-title">@tab.Value</span>
            </ChildContent>
        </MTab>
    }
</MTabs>

<MTabsItems Value="_curTab" Class="pt-6">
    <MTabItem>
        <div class="d-flex">
            <Projects OnProjectChanged="OnProjectChangedAsync" TeamId="new Guid(TeamId)">
            </Projects>
            <div class="pl-6" style="width: calc(100% - 242px); overflow: hidden; display:block;">
                <Jobs ProjectId="_projectId">
                </Jobs>
            </div>
        </div>
    </MTabItem>
    <MTabItem>
        <JobTasks>
        </JobTasks>
    </MTabItem>
</MTabsItems>