@inject GlobalConfig GlobalConfig

<MNavigationDrawer Value=Show ValueChanged=ShowChanged Fixed Right Temporary Width="300">
    <PrependContent>
        <MContainer>
            <MToolbar Flat Height="80">
                <h5>
                    Settings
                </h5>
            </MToolbar>
        </MContainer>
    </PrependContent>
    <ChildContent>
        
    </ChildContent>
</MNavigationDrawer>

@code {
    [Parameter]
    public bool Show { get; set; }

    [Parameter]
    public EventCallback<bool> ShowChanged { get; set; }

}
