@inherits ProComponentBase

<SSelect Small @bind-Value="@SelectedProjectIdentity"
         Label="@T("Project")"
        Items="_projects"
        ItemText="e => e.Name"
        ItemValue="e=> e.Identity"
        BackgroundColor="white"
        Class="rounded-2 body2">
    <SelectionContent Context="data">
        <div class="m-select__selection m-select__selection--comma regular--text">@data.Item.Name</div>
    </SelectionContent>
</SSelect>