<MMenu OpenOnHover
       CloseOnContentClick="false"
       AllowOverflow
       ContentClass="m-ellipsis-text__tooltip"
       OffsetY>
    <ActivatorContent>
        <span @attributes="@context.Attrs">
            <SIcon Class="@Class" Color="info" Size="16">mdi-help-circle-outline</SIcon>
        </span>
    </ActivatorContent>
    <ChildContent>
        @((MarkupString)Tooltip)
    </ChildContent>
</MMenu>

@code {
    [Parameter]
    public string Tooltip { get; set; } = string.Empty;

    [Parameter]
    public string Class { get; set; } = string.Empty;
}
