@namespace Masa.Scheduler.Web.Admin.Components.Tsc

<div class="pt-4 pb-6 rounded-2" style="background:#F6F8FD;">
    <div>
        <h2 class="text-center py-4">JwtToken</h2>
    </div>
    <MMonacoEditor @ref="_editor" Style="min-height: 312px;" Height="Height" Value="@Value" ValueChanged="ValueChanged" InitOptions="InitOptions" />
</div>